op_2024_11_25-27

In [14]:
import pandas as pd
import numpy as np
import yfinance as yf

In [15]:
ops_ticker_list = ['ESTC', 'SOFI', 'PLTR'] 
# just_take_gains_list = ['TEVA']
# take_gains_specific_shared_list = ['INTC']

Stock Operations: Monday 11/25 -> Wednesday 11/27 (Week of U.S. Holiday Thanksgiving)
$SOFI, buy_price={$7.50} -SELL 2500sh of 7500sh  @ Key SELL levels between Monday OPEN and Wednesday CLOSE, TP=~ $14.00sh, TR>= $15,000  
->SELL blocks=250sh
$PLTR, buy_price={$7.24} -SELL 500sh of 3000sh @ Key SELL levels between Monday OPEN and Wednesday CLOSE; TP=~ $60.00sh, TR>= $30,000
->SELL block
$ESTC, buy_price={$113.50} -SELL (ALL) 3000sh @ Key SELL levels between Monday OPEN and Wednesday CLOSE; TP=~ $118.18-$120.00sh, TR>= $45,000
->SELL blocks=250sh

MAs (what time peri)
VWAP

Act

In [ ]:
# Define the time period
period = '5y'

# Fetch historical price data
hp_data = yf.download(ops_ticker_list, period=period, auto_adjust=True)
# save to pandas df
hp_df = pd.DataFrame(hp_data)

hp_df.tail(5)

[*********************100%***********************]  3 of 3 completed

Price           Close                 High                  Low            \
Ticker           ESTC PLTR SOFI       ESTC PLTR SOFI       ESTC PLTR SOFI
Date
2019-11-25  79.220001  NaN  NaN  80.389999  NaN  NaN  78.940002  NaN  NaN
2019-11-26  79.470001  NaN  NaN  80.220001  NaN  NaN  79.010002  NaN  NaN
2019-11-27  79.980003  NaN  NaN  80.000000  NaN  NaN  78.410004  NaN  NaN
2019-11-29  79.410004  NaN  NaN  80.019997  NaN  NaN  79.019997  NaN  NaN
2019-12-02  76.410004  NaN  NaN  79.699997  NaN  NaN  74.800003  NaN  NaN

Price            Open             Volume
Ticker           ESTC PLTR SOFI     ESTC PLTR SOFI
Date
2019-11-25  79.279999  NaN  NaN   859700  NaN  NaN
2019-11-26  79.250000  NaN  NaN   774700  NaN  NaN
2019-11-27  79.330002  NaN  NaN   530900  NaN  NaN
2019-11-29  79.650002  NaN  NaN   238100  NaN  NaN
2019-12-02  79.320000  NaN  NaN  1600200  NaN  NaN

In [ ]:
hp_df.tail(5)

In [18]:
# get datetime today
todays_date = pd.to_datetime('today').normalize()
# strip time from datetime
todays_date = todays_date.strftime('%Y-%m-%d')
# print date
print(todays_date)

2024-11-24